@media screen and (max-width:760px){
    header{
        flex-direction: column;
        align-self: center;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    form{
        margin: 0 auto;
    }
    input{
        align-self: center;
    }
    img{
       display: none;  
    }
    ul{
        text-align: center;
        padding-right: 32px;
    }
    #acompanhe-font{
        display: none;
    }
    #inscreva-se-btn{
        align-self: center;
    }
   h1{
       text-align: center;
   }
}
